<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listing Details</title>
</head>
<body>
    <h3>Listing Details:</h3>

 

    <ul>
        <li><%= listing?.title || "No title available" %></li>
        <li><%= listing?.description || "No description available" %></li>
        <li>&#x20b9;<%= listing?.price ? listing.price.toLocaleString("en-IN") : "N/A" %></li>
        <li><%= listing?.location || "No location provided" %></li>
        <li><%= listing?.country || "No country provided" %></li>
    </ul>
    <br/>
    <a href="/listing/<%= listing._id %>/edit">Edit this Listing</a>
    <br/><br/>
    <form method="POST" action="/listing/<%=listing._id%>?_method=DElETE">
        <button>Delete this listing</button>
    </form>
</body>
</html>
